@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'), url('../fonts/raleway/ralewaythin.woff2') format('woff2'), url('../fonts/raleway/ralewaythin.woff') format('woff'), url('../fonts/raleway/ralewaythin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url('../fonts/raleway/ralewaythinitalic.woff2') format('woff2'), url('../fonts/raleway/ralewaythinitalic.woff') format('woff'), url('../fonts/raleway/ralewaythinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../fonts/raleway/ralewayextralight.woff2') format('woff2'), url('../fonts/raleway/ralewayextralight.woff') format('woff'), url('../fonts/raleway/ralewayextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url('../fonts/raleway/ralewayextralightitalic.woff2') format('woff2'), url('../fonts/raleway/ralewayextralightitalic.woff') format('woff'), url('../fonts/raleway/ralewayextralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/raleway/ralewaylight.woff2') format('woff2'), url('../fonts/raleway/ralewaylight.woff') format('woff'), url('../fonts/raleway/ralewaylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url('../fonts/raleway/ralewaylightitalic.woff2') format('woff2'), url('../fonts/raleway/ralewaylightitalic.woff') format('woff'), url('../fonts/raleway/ralewaylightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/raleway/ralewayregular.woff2') format('woff2'), url('../fonts/raleway/ralewayregular.woff') format('woff'), url('../fonts/raleway/ralewayregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/raleway/ralewayitalic.woff2') format('woff2'), url('../fonts/raleway/ralewayitalic.woff') format('woff'), url('../fonts/raleway/ralewayitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/raleway/ralewaymedium.woff2') format('woff2'), url('../fonts/raleway/ralewaymedium.woff') format('woff'), url('../fonts/raleway/ralewaymedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url('../fonts/raleway/ralewaymediumitalic.woff2') format('woff2'), url('../fonts/raleway/ralewaymediumitalic.woff') format('woff'), url('../fonts/raleway/ralewaymediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/raleway/ralewaysemibold.woff2') format('woff2'), url('../fonts/raleway/ralewaysemibold.woff') format('woff'), url('../fonts/raleway/ralewaysemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url('../fonts/raleway/ralewaysemibolditalic.woff2') format('woff2'), url('../fonts/raleway/ralewaysemibolditalic.woff') format('woff'), url('../fonts/raleway/ralewaysemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway/ralewaybold.woff2') format('woff2'), url('../fonts/raleway/ralewaybold.woff') format('woff'), url('../fonts/raleway/ralewaybold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url('../fonts/raleway/ralewaybolditalic.woff2') format('woff2'), url('../fonts/raleway/ralewaybolditalic.woff') format('woff'), url('../fonts/raleway/ralewaybolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/raleway/ralewayextrabold.woff2') format('woff2'), url('../fonts/raleway/ralewayextrabold.woff') format('woff'), url('../fonts/raleway/ralewayextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url('../fonts/raleway/ralewayextrabolditalic.woff2') format('woff2'), url('../fonts/raleway/ralewayextrabolditalic.woff') format('woff'), url('../fonts/raleway/ralewayextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'), local('Raleway-Black'), url('../fonts/raleway/ralewayblack.woff2') format('woff2'), url('../fonts/raleway/ralewayblack.woff') format('woff'), url('../fonts/raleway/ralewayblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url('../fonts/raleway/ralewayblackitalic.woff2') format('woff2'), url('../fonts/raleway/ralewayblackitalic.woff') format('woff'), url('../fonts/raleway/ralewayblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


/*--------------------------------------------------------------
 # MONTSERRAT
 --------------------------------------------------------------*/

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('../fonts/montserrat/montserrathairline.woff2') format('woff2'), url('../fonts/montserrat/montserrathairline.woff') format('woff'), url('../fonts/montserrat/montserrathairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserrat/montserratlight.woff2') format('woff2'), url('../fonts/montserrat/montserratlight.woff') format('woff'), url('../fonts/montserrat/montserratlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat/montserrat.woff2') format('woff2'), url('../fonts/montserrat/montserrat.woff') format('woff'), url('../fonts/montserrat/montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat/montserratbold.woff2') format('woff2'), url('../fonts/montserrat/montserratbold.woff') format('woff'), url('../fonts/montserrat/montserratbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/montserrat/montserratblack.woff2') format('woff2'), url('../fonts/montserrat/montserratblack.woff') format('woff'), url('../fonts/montserrat/montserratblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*--------------------------------------------------------------
 # MONTSERRAT
 --------------------------------------------------------------*/

 @font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Bold.eot');
    src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
         url('../fonts/avenir-next/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Bold.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Bold.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-ThinItalic.eot');
    src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-ThinItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-ThinItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-MediumItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src:  url('../fonts/avenir-next/AvenirNextCyr-UltraLightIt.eot');
    src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLightIt.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Light.eot');
    src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
         url('../fonts/avenir-next/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Light.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Light.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Italic.eot');
    src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
         url('../fonts/avenir-next/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Italic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Italic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-BoldItalic.eot');
    src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-BoldItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
         url('../fonts/avenir-next/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Heavy.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Heavy.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-HeavyItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
         url('../fonts/avenir-next/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Thin.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Thin.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Medium.eot');
    src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
         url('../fonts/avenir-next/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Medium.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Medium.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-DemiItalic.eot');
    src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-DemiItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-DemiItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
         url('../fonts/avenir-next/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Demi.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Demi.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-Regular.eot');
    src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
         url('../fonts/avenir-next/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-Regular.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-Regular.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src:  url('../fonts/avenir-next/AvenirNextCyr-LightItalic.eot');
    src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
         url('../fonts/avenir-next/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-LightItalic.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-LightItalic.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src:  url('../fonts/avenir-next/AvenirNextCyr-UltraLight.eot');
    src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLight.woff2') format('woff2'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLight.woff') format('woff'),
         url('../fonts/avenir-next/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
